h1 { 
  /* 글자 색상 빨산색으로 변경 */
  color: red;
  font-size: 50px;
  font-weight: 900;
  border: 4px solid;
}
h2{
  color: olive;
  font-size: 35px;
  font-weight: 600;
  border: 4px solid;

}
h3{
  color: coral;
  font-size: 30px;
  font-weight: 400;
  border: 3px solid;

}